Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

objectives
This notebook covered Data Science Languages,Libraries,Development Environment Open Source Tool In this new cell start with an introductory line titled

Data science languages :Python,R,SQL

In [1]:
Data_science_languages=["Python","R","SQL"]
print(Data_science_languages)

['Python', 'R', 'SQL']

Some of the commonly used libraries used by Data Scientists include:Pandas,Numpy,ggplot,Keras

| Data Science Tools | Development Environment Open Source Tools |
| --- | --- |
| RStudio | R |
| Jupyter Notebook | Python |
| Spyder | Python |
| RapidMiner | GUI |
| KNIME | GUI |
| Weka | GUI |
| Orange | GUI |
| MATLAB | Proprietary |
| SAS | Proprietary |
```

Below are a few examples of evaluating arithmetic expressions in Python:
addition:
2 + 3
subtraction:
5 - 2
multiplication:
2 * 3
division:
10 / 2
modulus:
15 % 4

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [1]:
# This will convert  minutes to hours by diving by 60.
min = int(input("Enter the min: "))
hours = min / 60
print(hours)

Enter the min: 6000
100.0

Author:
Omar Rany